MONGO_USERNAME=username_goes_here
MONGO_PASSWORD=password_goes_here
MONGO_DATABASE=opencontactroute
MONGO_HOST=localhost
JWT_SECRET="long_random_string_here"
ADMIN_EMAIL=admin_email_goes_here
ADMIN_PASSWORD=admin_password_goes_here
ADMIN_FIRST_NAME=admin_first_name_goes_here
ADMIN_LAST_NAME=admin_last_name_goes_here
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000
LOG_LEVEL=info
DOMAIN=your_domain_here
CADDY_TLS_EMAIL=your_email_here
