MONGO_USERNAME=username_goes_here
MONGO_PASSWORD=password_goes_here
MONGO_DATABASE=opencontactroute
MONGO_HOST=localhost
JWT_SECRET="long_random_string_here"
NODE_ENV=development
PORT=3001
FRONTEND_URL=http://localhost:3000
